.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.stats .card {
  min-width: 200px;
}
